<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom" id="stepstep">
    <h1>mijn declaraties</h1>
    <small>{{this.displayPersonName}}</small>
  </div>
  <br>
  <div class="row">
    <div class="col col-sm-8">
      <ul class="list-group">
<!--        <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--          €12,99 | Reiskosten | 12-12-2012-->
<!--          <span class="badge badge-danger badge-pill">Afgekeurd</span>-->
<!--        </li>-->
        <li *ngFor="let item of declarationData" class="list-group-item d-flex justify-content-between align-items-center">
          <p>{{decimalFormatter(item.amount)}} | {{dateFormatter(item.date_of_claim)}}</p>
          <span class="badge badge-pill"
                [className]="statusClassing(item.status.text)">
            {{statusFormatter(item.status.text)}}</span>
        </li>
      </ul>
    </div>
    <div class="col col-sm-1" id="linestep"></div>
    <div class="col col-sm-3" id="pickstep">
      <button name="expenses"
              (click)="handleLinking($event)"
              class="btn btn-primary">Nieuwe Declaratie</button>
      <button name="expenses/process"
              (click)="handleLinking($event)"
              [ngClass]="{hidden: !(this.OurJaneDoeIs === 'creditor')}"
              class="btn btn-primary">Declaratie Keuring</button>
      <button name="expenses/manage"
              (click)="handleLinking($event)"
              [ngClass]="{hidden: !(this.OurJaneDoeIs === 'manager')}"
              class="btn btn-primary">Declaratie Controle</button>
    </div>
  </div>
</div>
