<div class="container-fluid app-container compact">
  <!-- START AG-GRID EXPENSES -->
  <ag-grid-angular
    id="expensestable"
    class="ag-theme-material"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    (rowClicked)="onRowClicked($event)"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
  <!-- END AG-GRID EXPENSES -->
</div>

<app-maxmodal *ngIf="wantsNewModal"
              (messageEvent)="receiveMessage($event)"
              [moveDirection]="moveDirection"
              [expenseData]="expenseData"></app-maxmodal>
