@import "src/assets/scss/mixins";
@import "src/assets/scss/constants";

#expensestable {
  width: 100%;
  height: 46em;
  @include md-phone-only {
    height: 30rem;
  }
}

.ag-theme-material {
  width: auto;
  height: 750px;
  overflow: hidden;
}

.compact {
  margin-left: 225px;
  margin-right: 225px;
  @include lg-phone-only {
    margin-left: 0;
    margin-right: 0;
  }
  width: auto !important;
}
