<div class="container app-container">
  <form
    class="row"
    name="expenseForm"
    (change)="addClaimSuccess.wrong = false"
    (submit)="claimForm($event, expenseForm)"
    (keydown.enter)="$event.preventDefault()"
    #expenseForm="ngForm" >
    <div class="col-12 col-sm-8 py-2 px-4" id="colstep">
      <div class="claim">
        <h3>Declaratie indienen</h3>
        <hr class="line-border">
      </div>
      <div class="alert alert-success" role="alert" id="succes-alert" *ngIf="addClaimSuccess.success === true">
        {{ formSuccess }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="addClaimSuccess.wrong === true">
        {{ formError }}
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="mb-1" for="amountinput">Bedrag</label>

            <div class="input-group">
              <input
                id="amountinput"
                (click)="expensesAmount = true; ;"
                class="form-control"
                type="number"
                step="0.01"
                min="0.01"
                name="amount"
                required
                [(ngModel)]="formAmount"
                #namount="ngModel" >
              <div class="input-group-append">
                <label class="input-group-text" for="amountinput">€ EUR</label>
              </div>
            </div>

            <small *ngIf="notFilledClass(namount)" id="amountinputFill" class="text-danger w-100" >
              Graag een geldig bedrag invullen
            </small>
          </div>

          <div class="form-group">
            <label class="mb-1" for="typeinput">Soort</label>

            <select
              id="typeinput"
              name="cost_type"
              class="form-control"
              (change)="onChangeType($event)"
              [(ngModel)]="formType"
              #ntype="ngModel"
              required >
              <option disabled selected>-- Kies een declaratiesoort --</option>
              <option *ngFor="let t of typeOptions" value="{{t.ctype}}:{{t.cid}}">
                {{t.ctype}}
              </option>
            </select>

            <small *ngIf="notFilledClass(ntype)" id="typeinputFill" class="text-danger w-100" >
              Graag een declaratiesoort kiezen
            </small>
          </div>

          <div class="form-group">
            <label class="mb-1" for="dateinput">Datum bon</label>

            <div class="input-group">
              <input
                id="dateinput"
                name="transaction_date"
                class="form-control"
                required
                (click)="expenseTransDate = true; transdateNotFilledMessage = 'Graag een geldige verwervingsdatum invullen'; ;"
                [(ngModel)]="formTransDate"
                #ntransdate="ngModel"
                type="date" >
              <div class="input-group-append">
                <label class="input-group-text" for="dateinput">
                  <i class=" fa fa-calendar-alt"></i></label>
              </div>
            </div>

            <small *ngIf="notFilledClass(ntransdate)" id="dateinputFill" class="text-danger w-100" >
              {{ transdateNotFilledMessage }}
            </small>
          </div>

          <div class="form-group">
            <label class="mb-1" for="noteinput">Omschrijving</label>

            <textarea
              id="noteinput"
              class="form-control"
              type="text"
              name="note"
              placeholder="{{ formCostTypeMessage['short'] }}"
              required minlength="1"
              (click)="expensesNote = true;"
              [(ngModel)]="formNote"
              #nnote="ngModel" >
            </textarea>

            <small *ngIf="formCostTypeMessage" id="noteMessage" class="form-text text-muted font-italic w-100">
              {{ formCostTypeMessage['long'] }}
            </small>

            <small *ngIf="notFilledClass(nnote)" id="noteinputFill" class="text-danger w-100" >
              Graag een omschrijving invullen
            </small>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="mb-1" for="attachmentinput">Bijlagen</label>

            <div class="hidden">
              <input
                id="attachmentinput"
                type="file"
                accept="application/pdf,image/png,image/jpeg,image/jpg"
                name="attachment"
                (change)="onFileInput(fileInputHidden.files)"
                [(ngModel)]="formAttachment"
                #nattachment="ngModel"
                #fileInputHidden
                capture="camera" >
            </div>

            <ul class="list-group w-100">
              <li
                id="upload"
                class="list-group-item d-flex justify-content-between align-items-center upload-button"
                [ngClass]="{notFilledBtn: notFilledClass(nattachment)}"
                (click)="fileInputHidden.click(); expenseAttachment = true;" >
                <span class="new-file">Bestand toevoegen</span>
                <i class="fas fa-plus ml-1 float-right"></i>
              </li>
              <li *ngFor="let item of attachmentList" class="list-group-item d-flex justify-content-between align-items-center">
                {{item[0].name}}
                <i class="fa fa-times clickable" (click)="removeFromAttachmentList(item)"></i>
              </li>
            </ul>

            <small *ngIf="this.attachmentList && this.attachmentList.length <= 0" id="attachmentinputFill" class="text-muted font-italic w-100" >
              Voeg minimaal één bijlage bij om de declaratie in te dienen
            </small>
          </div>
        </div>

        <div class="col-sm-12">
          <small id="emailHelp" class="form-text text-muted">
            Vragen of opmerkingen? Mail naar
            <ng-container *ngIf="isDesktopDevice">
              <a href="mailto:crediteuren@vwtelecom.com?subject=Vraag/opmerking Declaratie-app">crediteuren@vwtelecom.com</a>.
            </ng-container>
            <ng-container *ngIf="!isDesktopDevice">
              crediteuren@vwtelecom.com.
            </ng-container>
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-1 d-none d-md-block" id="linestep"></div>
    <div class="col-12 col-sm-3 py-2 px-4" id="bodystep">
      <div class="claim d-none d-md-block">
        <h3 class="summary">Samenvatting</h3>
        <hr class="line-border">
      </div>

      <div class="row reason mb-4 d-none d-md-block">
        <div class="col-12 mb-2">
          <h5>Bedrag</h5>
          <span>{{ (formAmount | currency : 'EUR') || '€0.00' }}</span>
        </div>
        <div class="col-12">
          <h5>Reden</h5>
          <span>{{ formNote ||  '-' }}</span>
        </div>
      </div>

      <div class="submit_button">
        <button
          id="submit-save"
          type="submit"
          tabindex="0"
          class="btn btn-secondary mb-2"
          title="Opslaan als concept"
          (click)="this.wantsNext = 0; this.wantsSubmit = 0"
          [disabled]="submitButtonController(false, nnote, namount, ntype, ntransdate)"
          [ngClass]="{success : addClaimSuccess.success, wrong : addClaimSuccess.wrong}" >
          Opslaan als concept <i *ngIf="loadingThings && this.wantsNext === 0 && this.wantsSubmit === 0" class="spinner-border text-light"></i>
        </button>

        <div class="btn-group-vertical" role="group">
          <button
            id="submit-save-submit"
            type="submit"
            tabindex="0"
            class="btn btn-primary"
            title="Opslaan en indienen"
            (click)="this.wantsNext = 0; this.wantsSubmit = 1"
            [disabled]="submitButtonController(true, nnote, namount, ntype, ntransdate)"
            [ngClass]="{success : addClaimSuccess.success, wrong : addClaimSuccess.wrong}" >
            Indienen <i *ngIf="loadingThings && this.wantsNext === 0 && this.wantsSubmit > 0" class="spinner-border text-light"></i>
          </button>
          <button
            id="submit-save-submit-new"
            type="submit"
            tabindex="0"
            class="btn btn-primary"
            title="Opslaan, indienen en nieuwe declaratie openen"
            (click)="this.wantsNext = 1; this.wantsSubmit = 1"
            [disabled]="submitButtonController(true, nnote, namount, ntype, ntransdate)"
            [ngClass]="{success : addClaimSuccess.success, wrong : addClaimSuccess.wrong}" >
            Indienen & Nieuwe <i *ngIf="loadingThings && this.wantsNext > 0 && this.wantsSubmit > 0" class="spinner-border text-light"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
