@import "~src/assets/scss/mixins";
@import "~src/assets/scss/constants";

input {
  border-radius: 4px;
  outline: none;
  border: 1px solid #dce5eb;
}

.col-9 {
  background-color: #fcfbfb;
}

.notFilled {
  border: 1px solid #dc44446b;
  background-color: #dc44440f;
}

.fill-text {
  padding: 0;
  margin: 0;
  position: relative;
  color: #dc4444c2;
}

.move-18 {
  bottom: 18px;
}

#bookinghistory {
  border-bottom: 1px solid $vwt_color_blue_hr;
}

#expensestable {
  width: 100%;
  height: 750px;
  overflow: hidden;
  @include md-phone-only {
    height: 30rem;
  }
}

#expenseNote {
  height: 100px;
  max-height: 250px
}

#historytable {
  width: 100%;
  overflow: hidden;
  height: 750px;
  @include sm-phone-only {
    height: 10rem;
  }
}

.alert {
  padding: 2px;
  height: auto;
}

.fom {
  margin-bottom: 10px;
}

.bookfile-creation-top {
  border-bottom: 1px solid $vwt_color_blue_hr;
  margin-bottom: 10px;

  button {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.empty-creation-top {
  border-bottom: 1px solid $vwt_color_blue_hr;
  margin-bottom: 10px;
  margin-top: 48px;
}

.input-group .form-control {
  float: none;
}

.employee-text {
  color: #3f8bb5;
  font-weight: 400;
  margin-bottom: 5px;
}

.employee-line {
  border-bottom: 1px solid $vwt_color_blue_hr;
  margin-bottom: 10px;
}

.input-group-addon {
  line-height: 32.5px;
  text-align: center;
  background-color: #f6f6f6;
  font-weight: bold;
  color: #858585;
  border: 1px solid #dce5eb;
  outline: none;
  width: 45px;
  cursor: pointer;

  &:hover {
    border: 1px solid $vwt_color_blue_hr;
    opacity: .5;
  }
}

#linestep {
  border-left: 1px solid #80808052;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(2, 138, 184, 0.4) 48%,
      rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  transform: translate(50%, 0);
  @include lg-phone-only {
    display: none;
  }
}

#updateErrors, #updateSuccess {
  padding: 0.75rem 1.25rem;
}

.modal-footer {
  #thumbs-up, #thumbs-down, #thumbs-down-rejecting {
    font-size: large;
  }

  #information-icon-down, #information-icon, #information-icon-down-rejecting {
    cursor: pointer;
  }
}

#expensesUpdateForm {
  label {
    color: #3f8bb5;
    font-weight: 600;
  }
}

.disabledbtn {
  opacity: .5;
}

.disabledbtn:hover {
  cursor: not-allowed;
}

.hidden {
  visibility: hidden;
  display: none;
}

.click-stop {
  cursor: pointer;
  color: $vwt_color_blue;

  &:hover {
    opacity: .6;
  }
}
