@import "src/assets/scss/mixins";
@import "src/assets/scss/constants";

.grid-paymentfiles {
  @include for-desktop-up {
    width: 500px;
  }
}

.btn-toolbar {
  button {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    i {
      margin-left: 5px;
    }
  }

  .bookfile-creation-top {
    .alert {
      padding: 6px 5px;
    }
  }

  span.btn-link {
    cursor: pointer;
  }

  .alert {
    margin-top: 10px;
  }
  .dropdown {
    @include for-desktop-up {
      .dropdown-menu {
        max-width: 350px;
      }
    }

    form {
      input.ng-invalid {
        border: 2px solid #c0392b;
      }
      .form-message {
        margin-bottom: 0;
        padding: 5px 10px;
      }
    }
    small.description-text {
      padding: 0 1.5rem;
    }
  }
}
