<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-8">
      <div class="row btn-toolbar">
        <div class="col col-md-6 col-sm-12 bookfile-creation-top">
          <button type="button" id="createBookingFile" (click)="createBookingFile()" class="btn btn-primary">Nieuwe
            bestanden
            maken
          </button>
          <div class="alert alert-success" role="alert" *ngIf="addBooking.success === true">
            <i class="fas fa-check-circle"></i> Bestanden zijn aangemaakt.
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="addBooking.wrong === true">
            <i class="fa fa-exclamation-circle"></i> Er zijn geen openstaande declaraties. Bekijk de eerdere Booking
            Files.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="addBooking.error === true">
            <i class="fa fa-exclamation-circle"></i> Er is iets fout gegaan. Probeer het later opnieuw.
          </div>
        </div>

        <ng-container *ngIf="dataExport != 'invisible'">
          <div class="col col-md-6 col-sm-12 data-export-top text-md-right">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownForm"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Data exporteren
              </button>
              <div class="dropdown-menu">
                <form
                  class="px-4 py-3"
                  [formGroup]="dateExportForm"
                  (submit)="onSubmit($event)"
                  (keydown.enter)="$event.preventDefault()" >
                  <div class="form-group">
                    <label for="startDate">Begindatum</label>
                    <input id="startDate" type="date" class="form-control" formControlName="startDate" >
                  </div>
                  <div class="form-group">
                    <label for="endDate">Einddatum</label>
                    <input id="endDate" type="date" class="form-control" formControlName="endDate" >
                  </div>
                  <button
                    type="submit"
                    class="btn btn-{{dataExport ? dataExport : 'secondary'}} {{ dateExportFormExported ? 'has-exported' : '' }}"
                    disabled="{{ dateExportForm.valid ? '' : 'disabled' }}"
                    title="Exporteer als csv">Exporteren
                    <i *ngIf="dataExport === 'warning'" class="fas fa-spinner fa-spin"></i>
                    <i *ngIf="dataExport === 'success'" class="fas fa-check-circle"></i>
                    <i *ngIf="dataExport === 'danger'" class="fa fa-exclamation-circle"></i>
                  </button>

                  <div
                    *ngIf="dateExportForm.errors?.validDateOrder && (dateExportForm.touched || dateExportForm.dirty)"
                    class="form-message alert alert-danger">
                    <small>De begindatum moet ouder zijn dan de einddatum!</small>
                  </div>

                  <div
                    *ngIf="dateExportFormReponse.length > 0"
                    class="form-message alert alert-warning">
                    <small>De volgende onderdelen zijn niet gevonden voor dit tijdschema: <i>{{ dateExportFormReponse.join(', ') }}</i></small>
                  </div>
                </form>
                <div class="dropdown-divider"></div>
                <small class="form-text text-muted description-text">
                  De data zal worden geëxporteerd als CSV en kan gevoelige informatie bevatten.
                </small>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- START AG-GRID EXPENSES -->
      <ag-grid-angular
        id="expensestable"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
      <!-- END AG-GRID EXPENSES -->
    </div>
    <div class="col col-sm-1" id="linestep">
    </div>
    <div class="col col-sm-3">
      <div class="empty-creation-top"></div>
      <!-- START AG-GRID HISTORY -->
      <ag-grid-angular
        (cellClicked)="historyHit($event)"
        id="historytable"
        class="ag-theme-material"
        [rowData]="historyRowData"
        [columnDefs]="historyColumnDefs"
        (gridReady)="onHistoryGridReady($event)"
      >
      </ag-grid-angular>
      <!-- END AG-GRID HISTORY -->
    </div>
  </div>
</div>

<app-maxmodal *ngIf="wantsNewModal"
              (messageEvent)="receiveMessage($event)"
              [moveDirection]="moveDirection"
              [expenseData]="expenseData"></app-maxmodal>
