<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-8">
      <div class="row btn-toolbar">
        <div class="col col-md-6 col-sm-12 bookfile-creation-top">
          <button type="button" id="createBookingFile" (click)="createBookingFile()" class="btn btn-primary">Nieuwe
            bestanden
            maken
          </button>
          <div class="alert alert-success" role="alert" *ngIf="addBooking.success === true">
            <i class="fas fa-check-circle"></i> Bestanden zijn aangemaakt.
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="addBooking.wrong === true">
            <i class="fa fa-exclamation-circle"></i> Er zijn geen openstaande declaraties. Bekijk de eerdere Booking
            Files.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="addBooking.error === true">
            <i class="fa fa-exclamation-circle"></i> Er is iets fout gegaan. Probeer het later opnieuw.
          </div>
        </div>

        <ng-container *ngIf="dataExport != 'invisible'">
          <div class="col col-md-6 col-sm-12 data-export-top text-md-right">
            <button
              type="button"
              id="createDataExport"
              (click)="createDataExport()"
              class="btn btn-{{dataExport ? dataExport : 'secondary'}}"
              title="Exporteer declaraties en declaratie geschiedenis als csv">Exporteer alle data
              <i *ngIf="!dataExport" class="fa fa-download"></i>
              <i *ngIf="dataExport === 'warning'" class="fas fa-spinner fa-spin"></i>
              <i *ngIf="dataExport === 'success'" class="fas fa-check-circle"></i>
              <i *ngIf="dataExport === 'danger'" class="fa fa-exclamation-circle"></i>
            </button>
          </div>
        </ng-container>
      </div>

      <!-- START AG-GRID EXPENSES -->
      <ag-grid-angular
        id="expensestable"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
      <!-- END AG-GRID EXPENSES -->
    </div>
    <div class="col col-sm-1" id="linestep">
    </div>
    <div class="col col-sm-3">
      <div class="empty-creation-top"></div>
      <!-- START AG-GRID HISTORY -->
      <ag-grid-angular
        (cellClicked)="historyHit($event)"
        id="historytable"
        class="ag-theme-material"
        [rowData]="historyRowData"
        [columnDefs]="historyColumnDefs"
        (gridReady)="onHistoryGridReady($event)"
      >
      </ag-grid-angular>
      <!-- END AG-GRID HISTORY -->
    </div>
  </div>
</div>

<app-maxmodal *ngIf="wantsNewModal"
              (messageEvent)="receiveMessage($event)"
              [moveDirection]="moveDirection"
              [expenseData]="expenseData"></app-maxmodal>
