<div class="container-fluid app-container pb-2">
  <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Declaraties</a>
      <ng-template ngbNavContent>
        <div class="row btn-toolbar my-2 py-2">
          <div class="col col-md-8 col-sm-12 bookfile-creation-top">
            <button type="button" id="createBookingFile" (click)="createBookingFile()" class="btn btn-primary d-table float-left m-0">
              Nieuwe betaalbestanden maken
            </button>
            <div class="alert alert-success d-table float-left m-0 ml-2" role="alert" *ngIf="addBooking.success === true">
              <small><i class="fas fa-check-circle"></i> Bestanden zijn aangemaakt, bekijk ze <span class="btn-link" (click)="nav.select(2)">hier</span></small>
            </div>
            <div class="alert alert-warning d-table float-left m-0 ml-2" role="alert" *ngIf="addBooking.wrong === true">
              <small><i class="fa fa-exclamation-circle"></i> Er zijn geen openstaande declaraties. Bekijk eerdere bestanden <span class="btn-link" (click)="nav.select(2)">hier</span>.</small>
            </div>
            <div class="alert alert-danger d-table float-left m-0 ml-2" role="alert" *ngIf="addBooking.error === true">
              <small><i class="fa fa-exclamation-circle"></i> Er is iets fout gegaan. Probeer het later opnieuw.</small>
            </div>
          </div>
          <div class="col col-md-4 col-sm-12 text-md-right">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownForm"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Data exporteren
              </button>
              <div class="dropdown-menu">
                <form
                  class="px-4 py-3"
                  [formGroup]="dateExportForm"
                  (submit)="onSubmit($event)"
                  (keydown.enter)="$event.preventDefault()" >
                  <div class="form-group">
                    <label for="startDate">Begindatum</label>
                    <input id="startDate" type="date" class="form-control" formControlName="startDate" >
                  </div>
                  <div class="form-group">
                    <label for="endDate">Einddatum</label>
                    <input id="endDate" type="date" class="form-control" formControlName="endDate" >
                  </div>
                  <button
                    type="submit"
                    class="btn btn-{{dataExport ? dataExport : 'secondary'}} {{ dateExportFormExported ? 'has-exported' : '' }}"
                    disabled="{{ dateExportForm.valid ? '' : 'disabled' }}"
                    title="Exporteer als csv">Exporteren
                    <i *ngIf="dataExport === 'warning'" class="fas fa-spinner fa-spin"></i>
                    <i *ngIf="dataExport === 'success'" class="fas fa-check-circle"></i>
                    <i *ngIf="dataExport === 'danger'" class="fa fa-exclamation-circle"></i>
                  </button>

                  <div
                    *ngIf="dateExportForm.errors?.validDateOrder && (dateExportForm.touched || dateExportForm.dirty)"
                    class="form-message alert alert-danger">
                    <small>De begindatum moet ouder zijn dan de einddatum!</small>
                  </div>

                  <div
                    *ngIf="dateExportFormReponse.length > 0"
                    class="form-message alert alert-warning">
                    <small>De volgende onderdelen zijn niet gevonden voor dit tijdschema: <i>{{ dateExportFormReponse.join(', ') }}</i></small>
                  </div>
                </form>
                <div class="dropdown-divider"></div>
                <small class="form-text text-muted description-text">
                  De data zal worden geëxporteerd als CSV en kan gevoelige informatie bevatten.
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- START AG-GRID EXPENSES -->
        <div class="row">
          <div class="col-12">
            <ag-grid-angular
              class="ag-theme-balham grid-expenses"
              [gridOptions]="gridOptions"
              [columnDefs]="columnDefs"
              [rowData]="rowData"
              (rowClicked)="onRowClicked($event)"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>
        </div>
        <!-- END AG-GRID EXPENSES -->
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Betaalbestanden</a>
      <ng-template ngbNavContent>
        <div class="row btn-toolbar mb-2 py-2">
          <div class="col-12">
            <div class="alert alert-info m-0 p-2" role="alert">
              <small>
                <strong><i class="fas fa-info-circle"></i></strong>
                Het genereren van nieuwe betaalbestanden kan <span class="btn-link" (click)="nav.select(1)">hier</span>
              </small>
            </div>
          </div>
        </div>

        <!-- START AG-GRID HISTORY -->
        <div class="row">
          <div class="col-12">
            <ag-grid-angular
            (cellClicked)="historyHit($event)"
            class="ag-theme-balham grid-paymentfiles"
            [columnDefs]="historyColumnDefs"
            [gridOptions]="gridOptions"
            [rowData]="historyRowData"
            (gridReady)="onHistoryGridReady($event)">
          </ag-grid-angular>
          </div>
        </div>
        <!-- END AG-GRID HISTORY -->
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<app-maxmodal *ngIf="wantsNewModal"
              (messageEvent)="receiveMessage($event)"
              [moveDirection]="moveDirection"
              [expenseData]="expenseData"></app-maxmodal>
