<div class="container app-container app-landing">
  <div class="pb-2 border-bottom" id="stepstep">
    <h1>mijn declaraties</h1>
    <small>{{this.identityService.whoAmI().name}}</small>
  </div>
  <br>
  <div class="row row-100">
    <div class="col col-sm-8 h-100" id="liststep">
      <ul class="expenses-list">
        <li
          *ngIf="this.hasNoExpenses"
          class="expenses-list-item d-flex justify-content-between align-items-center nonexistent" >
          <div class="item-inner">
            Je hebt geen openstaande declaraties
          </div>
        </li>
        <li
          *ngFor="let item of declarationData"
          class="expenses-list-item d-flex justify-content-between align-items-center"
          [ngClass]="setClassStatus(item)" >
          <div
            class="item-inner"
            (click)="clickExpense(item)" >
            <div class="d-table float-left">
              <h3><strong>{{ item.amount | currency:'EUR':'&euro;' }}</strong></h3>
              <span>{{ item.claim_date | date:'dd-MM-yyyy' }}</span>
              <span class="text-muted ml-2">{{ item.cost_type | costType:typeOptions }}</span>
            </div>
            <div class="status-pill">
              <span class="badge badge-pill" [className]="item.status.text | expenseStatus: 'class'">
                {{ item.status.text | expenseStatus:'text' }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col col-sm-1" id="linestep"></div>
    <div class="col col-sm-3" id="pickstep">
      <div class="btn-group-vertical" role="group">
        <button
          name="expenses"
          class="btn btn-primary w-100 py-2 py-md-3"
          [routerLink]="['/expenses/employee']" >
          Nieuwe declaratie
        </button>
        <button
          *ngIf="this.managerAmount > 0"
          name="expenses/manage"
          class="btn btn-primary w-100 py-2 py-md-3"
          [routerLink]="['/expenses/manage']" >
          Declaraties goedkeuren
          <span class="badge badge-pill badge-light">{{this.managerAmount}}</span>
        </button>
        <button
          *ngIf="this.identityService.allRoles().includes('controller')"
          name="expenses/controller"
          class="btn btn-primary w-100 py-2 py-md-3"
          [routerLink]="['/expenses/controller']" >
          Controller pagina
        </button>
        <button
          *ngIf="this.identityService.allRoles().includes('creditor')"
          name="expenses/process"
          class="btn btn-primary w-100 py-2 py-md-3"
          [routerLink]="['/expenses/process']" >
          Crediteuren pagina
        </button>
      </div>
    </div>
  </div>

  <app-maxmodal *ngIf="wantsNewModal"
                (messageEvent)="receiveMessage($event)"
                [forceViewer]="forceViewer"
                [moveDirection]="'move-top'"
                [expenseData]="expenseData"></app-maxmodal>
</div>
