@import "src/assets/scss/mixins";
@import "src/assets/scss/constants";


#linestep {
  border-left: 1px solid #dee2e6;
  transform: translate(50%, 0);
  @include lg-phone-only {
    display: none;
  }
}

#pickstep {
  .btn {
    margin-bottom: 5px;
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 0;
  }
}

.row {
  @include lg-phone-only {
    flex-direction: column-reverse !important;
  }
}

.list-group-item {
  padding: 0 15px;
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.rejected {
  background: #ffe2dd;
}

#stepstep {
  h1 {
    font-weight: 300;
  }

  small {
    color: darkgrey;
    font-weight: 600;
    text-transform: uppercase;
  }
}

#liststep {
  @include lg-phone-only {
    margin-top: 15px;
  }
}

.list-group {
  max-height: 25vw;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .list-group-item {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @include lg-phone-only {
    max-height: none;
    margin-bottom: 0;
  }
}

.hidden {
  display: none !important;
}
