<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom" id="stepstep">
    <h1>mijn declaraties</h1>
    <small>{{this.displayPersonName}}</small>
  </div>
  <br>
  <div class="row">
    <div class="col col-sm-8" id="liststep">
      <ul class="list-group">
        <li *ngIf="this.hasNoExpenses" class="list-group-item d-flex justify-content-between align-items-center">
          Je hebt geen openstaande declaraties
        </li>
        <li *ngFor="let item of declarationData"
            (click)="clickExpense(item)"
            [ngClass]="{rejected: isRejected(item)}"
            class="list-group-item d-flex justify-content-between align-items-center clickable">
          <p>{{decimalFormatter(item.amount)}} | {{dateFormatter(item.claim_date)}}</p>
          <span class="badge badge-pill" [className]="statusClassing(item.status.text)">
            {{statusFormatter(item.status.text)}}</span>
        </li>
      </ul>
    </div>
    <div class="col col-sm-1" id="linestep"></div>
    <div class="col col-sm-3" id="pickstep">
      <button name="expenses"
              [routerLink]="['/expenses/employee']"
              class="btn btn-primary">Nieuwe Declaratie
      </button>
      <button name="expenses/process"
              [routerLink]="['/expenses/process']"
              [ngClass]="{hidden: !(this.OurJaneDoeIs.includes('creditor'))}" class="btn btn-primary">Declaraties
        Controleren
      </button>
      <button name="expenses/manage"
              [routerLink]="['/expenses/manage']"
              [ngClass]="{hidden: !(this.managerAmount > 0)}" class="btn btn-primary">Declaraties Beoordelen
        <span class="badge badge-pill badge-light">{{this.managerAmount}}</span>
      </button>
      <button name="expenses/controller"
              [routerLink]="['/expenses/controller']"
              [ngClass]="{hidden: !(this.OurJaneDoeIs.includes('controller'))}" class="btn btn-primary">Controller
      </button>
    </div>
  </div>

  <app-maxmodal *ngIf="wantsNewModal"
                (messageEvent)="receiveMessage($event)"
                [forceViewer]="forceViewer"
                [expenseData]="expenseData"></app-maxmodal>
</div>
