@mixin for-phone-only {

  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {

  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {

  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {

  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {

  @media (min-width: 1800px) { @content; }
}
.container {
  @include for-phone-only {
    background-color: #fcfbfb;
    height: 100vh;
    bottom: 0;
    top: 0;
  }
}
div#landing_page {
    display: none;
}
.landing_page_container {
  display: none;
}
label {
  color: #3f8bb5;
  font-weight: bold;
}
input, textarea {
  border-radius: 4px;
  outline: none;
  border: 1px solid #dce5eb;
}
#deep_button {
  :hover {
    opacity: .8;
  }
  opacity: 1;
  background-color: #3a89b4;
  font-weight: bold;
  color: white;
  border: 1px solid #3a89b4;
  outline: none;
  border-radius: 4px;
  @include for-phone-only {
    width: 100%;
  }
}
#amountinput {
  max-width: 300px;
}
#noteinput {
  max-width: 365px;
}
#colstep {
  background-color: #fcfbfb;
  padding: 15px;
  margin-right: 100px;
  @include for-phone-only {
    width: 100%;
  }
}
#bodystep {
  background-color: #fcfbfb;
  padding: 15px;
  @include for-phone-only {
    width: 100%;
  }
}
.row {
  margin-top: 10ex;
  @include for-phone-only {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
p {
  font-weight: bold;
  color: #858585;
}
span {
  font-weight: normal;
  color: #858585;
}
.hidden {
  display: none;
}
.input-group .form-control {
  float: none;
}
.input-group .input-buttons {
  position: relative;
  z-index: 3;
}
.input-group-addon {
  line-height:32.5px;
  text-align: center;
  background-color: #f6f6f6;
  font-weight: bold;
  color: #858585;
  border: 1px solid #dce5eb;
  outline: none;
  width: 65px;
  cursor: default;
}
.notFilled {
  border: 1px solid red;
}
