<div class="container">
  <div class="row">
    <div class="col col-sm-8" id="colstep">
      <div class="claim">
        <h5> Declaratie indienen </h5>
        <hr class="add">
      </div>
      <div class="alert alert-success" role="alert" *ngIf="addClaimSuccess.success === true">
        Declaratie is successvol ingediend
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="addClaimSuccess.wrong === true">
        Er is iets fout gegaan. Probeer het later opnieuw
      </div>

      <form (change)="addClaimSuccess.wrong = false" name="expenseForm" #expenseForm="ngForm"
            (ngSubmit)="claimForm(expenseForm)">
        <!--        <div class="custom-file">-->
        <!--          <input type="file" class="custom-file-input" id="customFileInput" required>-->
        <!--          <label class="custom-file-label" for="customFileInput">$filename</label>-->
        <!--        </div>-->
        <div class="row">
          <div class="col-sm-6">
            <label for="amountinput">Bedrag:</label>
            <div class="input-group">
              <input id="amountinput"
                     (click)="expensesAmount = true"
                     class="form-control"
                     [ngClass]="{notFilled: notFilledClass(namount)}"
                     type="number"
                     step="0.01"
                     min="0.01"
                     name="amount"
                     required
                     [(ngModel)]="formAmount"
                     #namount="ngModel">
              <div class="input-group-append">
                <span class="input-group-text" onclick="document.getElementById('amountinput').focus()">€ EUR</span>
              </div>
            </div>
            <div class="fill-text"
                 *ngIf="notFilledClass(namount)">
              <small>Graag een geldig bedrag invullen</small>
            </div>
            <div class="mt-3"></div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="typeinput">Soort:</label>
              </div>
              <select id="typeinput"
                      (change)="expenseType = true"
                      class="custom-select"
                      [ngClass]="{notFilled: notFilledClass(ntype)}"
                      [(ngModel)]="formType"
                      name="cost_type"
                      #ntype="ngModel"
                      required>
                <option value="" disabled selected>Kies een kost type</option>
                <option *ngFor="let t of typeOptions" value="{{t.ctype}}:{{t.cid}}">
                  {{t.ctype}}
                </option>
              </select>
            </div>
            <div class="fill-text move-18"
                 *ngIf="notFilledClass(ntype)">
              <small>Graag een declaratiesoort kiezen</small>
            </div>

            <label for="dateinput">Datum bon:</label>
            <div class="input-group">
              <input id="dateinput"
                     (click)="expenseTransDate = true; transdateNotFilledMessage = 'Graag een geldige verwervingsdatum invullen'"
                     [ngClass]="{notFilled: notFilledClass(ntransdate)}"
                     name="date_of_transaction"
                     class="form-control"
                     required
                     [(ngModel)]="formTransDate"
                     #ntransdate="ngModel"
                     type="date">
              <div class="input-group-append">
                <span class="input-group-text" onclick="document.getElementById('dateinput').focus()">
                  <i class=" fa fa-calendar-alt"></i> </span>
              </div>
            </div>
            <div class="fill-text"
                 *ngIf="notFilledClass(ntransdate)">
              <small>{{transdateNotFilledMessage}}</small>
            </div>
            <div class="mb-3"></div>
            <div class="form-group">
              <label for="noteinput">Omschrijving:</label>
              <textarea id="noteinput"
                        (click)="expensesNote = true"
                        class="form-control"
                        [ngClass]="{notFilled: notFilledClass(nnote)}"
                        type="text"
                        name="note"
                        required minlength="1"
                        [(ngModel)]="formNote"
                        #nnote="ngModel">
          </textarea>
            </div>
            <div class="fill-text move-18"
                 *ngIf="notFilledClass(nnote)">
              <small>Graag een omschrijving invullen</small>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="attachmentinput">Bijlage:</label>
            <button type="button" id="toggleAttachment"
                    (click)="toggleAttachment()">{{ this.wantsList ? 'List' : 'Single' }}</button>
            <div [ngClass]="{hidden: this.wantsList}">
              <input id="attachmentinput"
                     type="file"
                     accept="application/pdf,image/*"
                     name="attachment"
                     required
                     (change)="onFileInput(fileInputHidden.files)"
                     [(ngModel)]="formAttachment"
                     #nattachment="ngModel"
                     #fileInputHidden
                     capture="camera">
              <button type="button"
                      #buttonInput
                      class="btn tall-button"
                      [ngClass]="{notFilledBtn: notFilledClass(nattachment)}"
                      [ngStyle]="{background: 'url(' + locatedFile + ')'}"
                      (click)="expenseAttachment = true; fileInputHidden.click()">{{notaData}}
              </button>
            </div>
            <div [ngClass]="{hidden: !this.wantsList}">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    [ngClass]="{notFilledBtn: notFilledClass(nattachment)}" (click)="fileInputHidden.click(); expenseAttachment = true">
                  <span class="clickable new-file">Bestand toevoegen</span>
                </li>
                <li *ngFor="let item of attachmentList"
                    class="list-group-item d-flex justify-content-between align-items-center">
                  {{item[0].name}}
                  <i class="fa fa-times clickable" (click)="removeFromAttachmentList($event)"></i>
                </li>
              </ul>
            </div>
            <div class="fill-text"
                 *ngIf="notFilledClass(nattachment)">
              <small>Graag een bijlage toevoegen</small>
            </div>
            <p id="statictest">o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o
              o</p> <!-- Width Setting. Will be removed in final. -->
          </div>

          <input type="submit" id="submit-form" class="hidden"/>
        </div>
      </form>
    </div>
    <div class="col col-sm-1" id="linestep"></div>
    <div class="col col-sm-3" id="bodystep">
      <div class="claim">
        <h5 class="summary"> Samenvatting </h5>
      </div>

      <div class="row reason">
        <div class="col-12 col-sm-4"><h5>Bedrag: <span class="form-amount">{{ formAmount | currency : 'EUR'}}</span>
        </h5></div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-4"><h5>Reden:</h5></div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-4 typewriter"><textarea id="text" rows="4" maxlength="150" disabled
                                                          value="{{ formNote }}"></textarea></div>
        <div class="w-100"></div>
      </div>

      <div class="submit_button">
        <label for="submit-form"
               tabindex="0" class="btn btn-default deep_button"
               [ngClass]="{disabledbtn: submitButtonController(nnote, namount, ntype, ntransdate, nattachment),
                  success : addClaimSuccess.success === true,
                  wrong : addClaimSuccess.wrong === true}">
          Indienen <i *ngIf="loadingThings === true" class="spinner-border text-light"></i>
        </label>
      </div>
    </div>
  </div>
</div>
