@import "~src/assets/scss/mixins";
@import "~src/assets/scss/constants";


.container {
  @include lg-phone-only {
    background-color: #fcfbfb;
    height: 100vh;
    width: 100%;
    bottom: 0;
    top: -25px;
    position: relative;
  }
}

div#landing_page {
  display: none;
}

.landing_page_container {
  display: none;
}

label {
  color: #3f8bb5;
  font-weight: 600;
}

input, textarea, select {
  border-radius: 4px;
  outline: none;
  border: 1px solid #dce5eb;
}

.deep_button {
  opacity: 1;
  background-color: #3a89b4;
  font-weight: normal;
  color: white;
  border: 1px solid #3a89b4;
  outline: none;
  border-radius: 4px;
  width: 100%;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  @include lg-phone-only {
    width: 100%;
  }
}

.tall-button {
  color: $vwt_color_blue;
  border: 2px solid $vwt_color_blue_hr;
  outline: none;
  border-radius: 4px;
  width: 100%;
  height: 39.2ex;
  background-size: cover !important;

  &:hover {
    opacity: .6;
    cursor: pointer;
  }

  @include lg-phone-only {
    width: 100%;
  }
}

.input-group {
  max-width: 365px;
  @include lg-phone-only {
    max-width: none;
  }
}

#typeinput {
  max-width: 365px;
  @include lg-phone-only {
    max-width: none;
  }
}

#noteinput {
  max-width: 365px;
  margin-bottom: 0;
  height: 14ex;
  max-height: 200px;
  @include lg-phone-only {
    max-width: none;
    height: 18ex;
  }
}

#colstep {
  background-color: #fcfbfb;
  padding: 2em;
  @include lg-phone-only {
    position: absolute;
    width: 100%;
    padding: 1em;
    margin-bottom: 50px;
  }
}

#linestep {
  border-left: 1px solid #80808052;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(2, 138, 184, 0.4) 48%,
      rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  transform: translate(50%, 0);
  @include lg-phone-only {
    display: none;
  }
}

#statictest {
  color: transparent;
}

#attachmentinput {
  display: none;
}

#bodystep {
  background-color: #fcfbfb;
  padding: 2.2em;

  @include lg-phone-only {
    background-color: #abdeef;
    position: fixed;
    bottom: 0;
    height: 120px;
    padding: 0 15px;
    margin: 0;
  }
}

.success {
  @include lg-phone-only {
    background-color: #4BB543 !important;
  }
}

.wrong {
  @include lg-phone-only {
    background-color: #A63232 !important;
  }
}

.alert {
  @include lg-phone-only {
    display: none;
  }
}

.row {
  margin-top: 5ex;

  .hidden {
    display: none;
  }

  p {
    font-weight: bold;
    color: #858585;
  }

  span {
    font-weight: normal;
    color: #858585;

    &.form-amount {
      @include lg-phone-only {
        color: white;
      }
    }

  }

  @include lg-phone-only {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 0;
  }
}

//.input-image-containment {
//  position: relative;
//}
//
//.input-image-containment .input-image {
//  height: 300px;
//  width: 200px;
//  object-fit: cover;
//}
//
//.input-image-containment i {
//  position: absolute;
//  top: 5%;
//  left: 67.5%;
//  font-size: 30px;
//  color: $vwt_color_blue;
//
//  &:hover {
//    cursor: pointer;
//    opacity: .8;
//  }
//}

.input-group .form-control {
  float: none;
}

.input-group .input-buttons {
  position: relative;
  z-index: 3;
}

.input-group-addon {
  line-height: 32.5px;
  text-align: center;
  background-color: #f6f6f6;
  font-weight: bold;
  color: #858585;
  border: 1px solid #dce5eb;
  outline: none;
  width: 65px;
  cursor: default;
}

.notFilled {
  border: 1px solid #dc44446b;
  background-color: #dc44440f;
}

.notFilledBtn {
  border: 1px solid #dc44446b;
  background-color: #dc44440f;
  color: #dc4444;
}

.disabledbtn {
  opacity: .5;
  width: 100%;
  margin-top: 15px;
}

.disabledbtn:hover {
  cursor: not-allowed;
}

.fill-text {
  padding: 0;
  margin: 0;
  position: relative;
  color: #dc4444c2;
}

.move-18 {
  bottom: 18px;
}

.typewriter {
  @include sm-phone-only {
    overflow: visible;
    padding: 1em;
  }
}

.reason {
  @include lg-phone-only {
    display: none;
  }

  textarea#text {
    border: 0 transparent;
    background-color: transparent;
    height: 8em; // To be Fixed@hardcorded with all fields
    font-size: small;
    -webkit-appearance: none;
    max-height: 200px;
    @include lg-phone-only {
      height: 6em;
      width: 22em;
      color: white;
      font-size: medium;
    }
  }
}

.claim {
  @include lg-phone-only {
    h5.summary {
      display: none;
    }
  }

  h5 {
    color: $vwt_color_blue;
    font-weight: 100;
  }

  hr.add {
    border-top: 1px solid $vwt_color_blue_hr;
    margin-bottom: 2em;
  }
}

.separator {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;

  .inner {
    position: absolute;
    width: 100%;
    height: 40%;
    background: grey;
    top: 30%;
    box-shadow: 0 0 30px 20px grey;
  }
}

.spinner-border {
  max-height: 20px;
  max-width: 20px;
  margin-left: 10px
}

#toggleAttachment {
  margin-left: 10px;
  padding: 0;
  background-color: #dadada;
  color: black;
  border: 0;

  &:hover {
    opacity: .6;
  }
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: $vwt_color_blue;

  &:hover {
    opacity: .6;
  }
}

.new-file {
  color: #6495ed !important; // Override the original Span & Clickable
}
