<div class="max-modal-overlay" id="maxModal">
  <div id="max-modal" class="{{this.moveDirection}} move-top">
    <form
      id="expenseForm"
      (ngSubmit)="claimUpdateForm(expenseForm, expenseData.id, [note, namount, ntype, ntransdate, rnote])"
      #expenseForm="ngForm" >
      <div class="max-modal-header">
        <h2 class="header-text">Declaratie</h2>
        <button id="modalClose" (click)="closeModal(false, false)" type="button">
          <span>&times;</span>
        </button>
      </div>
      <div class="max-modal-body">

        <div class="d-table w-100">
          <p class="employee-text float-left" id="employeeText">{{ expenseData.employee }}</p>
          <span
            class="{{ formatter.getStatusClassing(expenseData.status.text) }} float-right" >
            {{ formatter.getStatusFormatter(expenseData.status.text) }}
          </span>
        </div>
        <div class="employee-line"></div>
        <div id="updateErrors" class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- Form: Rejection Note-->
        <div *ngIf="checkRNoteVisibility(expenseData)" class="alert alert-{{ isRejected ? 'warning' : 'info' }}">
          Reden voor afkeuring: <strong>{{ expenseData.status.rnote }}</strong>
        </div>
        <!-- Form: END : Rejection Note-->

        <!-- Form: Expense flags -->
        <div *ngFor="let flag of expenseData.flags"
          class="alert alert-warning expense-flags" >
          <strong class="mr-2"><i class="fas fa-flag"></i></strong>
          {{ flag.description }}:

          <ng-container *ngFor="let expense_id of flag.values">
            <ng-template #popTitle let-context="context">
              Declaratie
            </ng-template>

            <ng-template #popContentError>
              <span class="text-muted font-italic">Er ging iets fout tijdens het ophalen van de declaratie...</span>
            </ng-template>

            <ng-template #popContent let-context="context">
              <ng-container *ngIf="!context['error']; else popContentError">
                <div class="d-table float-left">
                  <h3><strong>{{ context['amount'] | currency : 'EUR' }}</strong></h3>
                  <span class="d-table">Ingediend op: <strong>{{ context['claim_date'] | date: 'dd-MM-yyyy' }}</strong></span>
                  <span class="d-table text-muted">{{ context['cost_type'].split(':')[0] }}</span>
                  <span class="d-table">{{ context['note'] }}</span>
                </div>
                <div class="status-pill">
                  <span class="badge badge-pill" [className]="formatter.getStatusClassing(context['status'])">
                    {{ formatter.getStatusFormatter(context['status']) }}
                  </span>
                </div>
              </ng-container>
            </ng-template>

            <a
              class="alert-link popover-link"
              triggers="manual"
              title="Bekijk declaratie"
              #popOver="ngbPopover"
              [popoverTitle]="popTitle"
              [ngbPopover]="popContent"
              (click)="toggleExpensePopover(popOver, expense_id)" ><strong>{{ expense_id }}</strong></a>
          </ng-container>
        </div>
        <!-- Form: END : Expense flags -->

        <!-- Form: Costs -->
        <div class="form-group">
          <label class="mb-1" for="expenseAmount">Bedrag</label>

          <div class="input-group">
            <input
              id="expenseAmount"
              class="form-control"
              type="number"
              step="0.01"
              min="0.01"
              name="amount"
              required
              [placeholder]="expenseData.amount"
              [disabled]="!isEditor"
              [ngModel]="this.expenseData.amount"
              #namount="ngModel" >
            <div class="input-group-append">
              <label class="input-group-text" for="expenseAmount">€ EUR</label>
            </div>
          </div>

          <small *ngIf="!(namount.valid) && isEditor" class="text-danger w-100" >
            Graag een geldig bedrag invullen
          </small>
        </div>
        <!-- Form: END : Costs -->

        <!-- Form: Cost Type -->
        <div class="form-group">
          <label class="mb-1" for="expenseCostType">Soort</label>

          <select
            id="expenseCostType"
            name="cost_type"
            class="form-control"
            (change)="onChangeType($event)"
            [disabled]="!isEditor && !isCreditor"
            [ngModel]="expenseData.cost_type"
            #ntype="ngModel"
            required >
            <option disabled selected>-- Kies een declaratiesoort --</option>
            <option *ngFor="let t of typeOptions" value="{{t.ctype}}:{{t.cid}}">
              {{t.ctype}}
            </option>
          </select>
        </div>
        <!-- Form: END : Cost Type -->

        <!-- Form: Transaction Date -->
        <div class="form-group">
          <label class="mb-1" for="expenseDateOfTransaction">Datum bon</label>

          <div class="input-group">
            <input
              id="expenseDateOfTransaction"
              name="transaction_date"
              class="form-control"
              required
              [disabled]="!isEditor"
              [ngModel]="expenseData.transaction_date | date:'yyyy-MM-dd'"
              #ntransdate="ngModel"
              type="date" >
            <div class="input-group-append">
              <label class="input-group-text" for="expenseDateOfTransaction">
                <i class=" fa fa-calendar-alt"></i></label>
            </div>
          </div>

          <small *ngIf="!(ntransdate.valid) && isEditor" class="text-danger w-100" >
            Graag een geldige datum invullen
          </small>
        </div>
        <!-- Form: END : Transaction Date -->

        <!-- Form: Note -->
        <div class="form-group">
          <label class="mb-1" for="expenseNote">Omschrijving</label>

          <textarea
            id="expenseNote"
            class="form-control"
            type="text"
            name="note"
            placeholder="{{ formCostTypeMessage['short'] }}"
            required minlength="1"
            [disabled]="!isEditor"
            [ngModel]="expenseData.note"
            #note="ngModel" >
          </textarea>

          <small *ngIf="formCostTypeMessage['long'] && isEditor" class="form-text text-muted font-italic w-100">
            {{ formCostTypeMessage['long'] }}
          </small>

          <small *ngIf="!(note.valid) && isEditor" class="text-danger w-100" >
            Graag een omschrijving invullen
          </small>
        </div>
        <!-- Form: END : Note -->

        <!-- Form: Attachments -->
        <div class="form-group">
          <label class="mb-1" for="attachmentinput">Bijlagen</label>

          <ng-container *ngIf="isEditor; else fileBoxDisabled">
            <div class="hidden">
              <input
                id="attachmentinput"
                type="file"
                accept="application/pdf,image/png,image/jpeg,image/jpg"
                name="attachment"
                class="hidden"
                [required]="!hasDraftStatus"
                (change)="onFileInput(fileInput.files)"
                #fileInput
                capture="camera" >
            </div>

            <ul class="list-group file-list w-100">
              <li
                id="upload"
                class="list-group-item d-flex justify-content-between align-items-center upload-button"
                [ngClass]="{'ng-invalid ng-touched': attachmentsIsInvalid && !hasDraftStatus}"
                (click)="fileInput.click()" >
                <span class="new-file">Bestand toevoegen</span>
                <i class="fas fa-plus ml-1 float-right"></i>
              </li>
              <li
                *ngFor="let item of receiptFiles"
                class="list-group-item file-list-item d-flex justify-content-between align-items-center">
                <span
                  *ngIf="item.from_db; else fileNotViewable"
                  class="clickable"
                  title="Open bijlage"
                  (click)="this.openSanitizeFile(item.content_type, item.content)" >
                  <i class="{{ getFileTypeIcon(item.content_type) }} mr-1"></i>
                  {{ item.db_name }}
                </span>

                <ng-template #fileNotViewable>
                  <span>
                    <i class="{{ getFileTypeIcon(item.content_type) }} mr-1"></i>
                    {{ item.db_name }}
                  </span>
                </ng-template>

                <i *ngIf="item.from_db" class="fa fa-trash clickable" (click)="removeFromAttachmentList(item)" title="Verwijder bijlage"></i>
                <i *ngIf="!item.from_db" class="fa fa-times clickable" (click)="removeFromAttachmentList(item)" title="Annuleer bijlage"></i>
              </li>
            </ul>
          </ng-container>

          <ng-template #fileBoxDisabled>
            <ul class="list-group file-list w-100">
              <li
                *ngFor="let item of receiptFiles"
                class="list-group-item file-list-item d-flex justify-content-between align-items-center clickable"
                title="Open bijlage"
                (click)="this.openSanitizeFile(item.content_type, item.content)" >
                <span>
                  <i class="{{ getFileTypeIcon(item.content_type) }} mr-1"></i>
                  {{ item.db_name }}
                </span>
                <i class="far fa-eye" title="Bekijk bijlage"></i>
              </li>

              <ng-container *ngIf="receiptFiles && receiptFiles.length <= 0">
                <small class="text-muted font-italic p-2">Geen bestanden gevonden</small>
              </ng-container>
            </ul>
          </ng-template>

          <small *ngIf="attachmentsIsInvalid && isEditor && !hasDraftStatus" class="text-danger w-100" >
            Minimaal één bestand toevoegen
          </small>
          <small *ngIf="isEditor && hasDraftStatus && this.receiptFiles && this.receiptFiles.length <= 0" class="text-muted font-italic w-100" >
            Voeg minimaal één bijlage bij om de declaratie in te dienen
          </small>
        </div>
        <!-- Form: END : Attachments -->

        <!-- Form: Rejection Note | Check submit-update-form label after every change -->
        <div class="input-group mb-3" [ngClass]="{hidden: !this.isRejecting}">
          <div class="input-group-prepend">
            <label class="input-group-text" for="rnoteselect">Reden:</label>
          </div>
          <select
            id="rnoteselect"
            class="custom-select"
            name="rnoteselect"
            (change)="rejectionHit($event)" >
            <option>Deze kosten kun je declareren via Regweb (PSA)</option>
            <option>Deze kosten kun je declareren via de leasemaatschappij</option>
            <option>Deze kosten zijn al gedeclareerd</option>
            <option value="note">Anders, reden:</option>
          </select>
        </div>
        <div
          id="rejection-note-group"
          class="form-group"
          [ngClass]="{hidden: !(rejectionNoteVisible && isRejecting)}" >
          <textarea
            id="rnote"
            class="form-control"
            type="text"
            name="rnote"
            required minlength="1"
            [ngClass]="{notFilled: (rnote.invalid && (rnote.dirty || rnote.touched))}"
            [ngModel]="expenseData.status.rnote"
            #rnote="ngModel" ></textarea>

          <small
            *ngIf="(rnote.invalid && (rnote.dirty || rnote.touched))"
            class="text-danger w-100"
            [ngClass]="{hidden: !this.rejectionNote}" >
            Graag een geldige reden invullen
          </small>
        </div>

        <input type="submit" id="submit-update-form" hidden #submitForm />

      </div>
      <div class="max-modal-footer">
        <!-- Employee Modal Options -->
        <ng-container *ngIf="isEditor">
          <div class="btn-group ml-2 float-md-right" role="group">
            <button
              type="button"
              class="btn btn-outline-danger"
              id="cancel-update-button"
              title="Declaratie annuleren"
              (click)="wantsDraft = 0; wantsSubmit = 0; cancelExpense()" >
              Annuleren
            </button>

            <button
              *ngIf="expenseData.status.text === 'draft'"
              id="submit-save-button"
              type="submit"
              class="btn btn-secondary"
              [disabled]="submitButtonController(false, note, namount, ntype, ntransdate, undefined)"
              (click)="wantsDraft = 1; wantsSubmit = 0" >
              Opslaan als concept
            </button>
            <button
              id="submit-update-button"
              type="submit"
              class="btn btn-primary"
              [disabled]="submitButtonController(true, note, namount, ntype, ntransdate, undefined)"
              (click)="wantsDraft = 0; wantsSubmit = 1" >
              Indienen
            </button>
          </div>
        </ng-container>
        <!-- END Employee Modal Options-->

        <!-- Viewer (Manager, Creditor) Modal Options-->
        <ng-container *ngIf="isManager || isCreditor">
          <div
            *ngIf="!this.isRejecting"
            class="btn-group float-right" role="group" >
            <button
              id="thumbs-up"
              type="button"
              class="btn btn-success"
              (click)="updatingAction('approving'); this.claimUpdateForm(expenseForm, expenseData.id, [note, namount, ntype, ntransdate, rnote])">
              <a id="information-icon">Goedkeuren</a>
            </button>
            <button
              *ngIf="!this.isRejecting"
              id="thumbs-down"
              type="button"
              class="btn btn-danger"
              (click)="updatingAction('rejecting');" >
              <a id="information-icon-down">Afkeuren</a>
            </button>
          </div>

          <div
            *ngIf="this.isRejecting"
            class="btn-group float-right" role="group" >
            <button
              type="button"
              class="btn btn-secondary"
              (click)="updatingAction(null)" >
              Annuleren
            </button>
            <button
              id="thumbs-down-rejecting"
              type="button"
              class="btn btn-danger"
              [disabled]="submitButtonController(true, undefined, undefined, this.isCreditor ? ntype : undefined, undefined, rnote)"
              (click)="updatingAction('rejecting'); this.claimUpdateForm(expenseForm, expenseData.id, [note, namount, ntype, ntransdate, rnote])" >
              <a id="information-icon-down-rejecting">Afkeuring bevestigen</a>
            </button>
          </div>
        </ng-container>
        <!-- END Viewer (Manager, Creditor) Modal Options -->
      </div>
    </form>
  </div>

</div>
