<div class="container-fluid app-container compact">
  <button type="button" class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
  <!-- START AG-GRID EXPENSES -->
  <ag-grid-angular
    id="expensestable"
    class="ag-theme-material"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (rowClicked)="onRowClicked($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <!-- END AG-GRID EXPENSES -->

</div>

<app-maxmodal *ngIf="wantsNewModal"
              (messageEvent)="receiveMessage($event)"
              [expenseData]="expenseData"></app-maxmodal>
