<div class="container-fluid app-container">
  <div class="row">
    <div class="col-12 mb-4">
      <button type="button" class="btn btn-primary" (click)="onBtExport()">Exporteren naar Excel</button>
    </div>
    <div class="col-12">
      <!-- START AG-GRID EXPENSES -->
      <ag-grid-angular
        class="ag-theme-balham"
        [gridOptions]="gridOptions"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
      <!-- END AG-GRID EXPENSES -->
    </div>
  </div>
</div>

<app-maxmodal *ngIf="wantsNewModal"
              (messageEvent)="receiveMessage($event)"
              [expenseData]="expenseData"></app-maxmodal>
