@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import "~bootstrap/dist/css/bootstrap.css";
@import "/assets/scss/mixins";
@import "/assets/scss/constants";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
$vwt_font_family: 'Poppins', sans-serif;
$fa-font-path: "/assets/fonts/font-awesome";
@import "/assets/fontawesome/scss/fontawesome.scss";
@import "/assets/fontawesome/scss/solid.scss";
@import "/assets/fontawesome/scss/brands.scss";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


body {
  font-family: $vwt_font_family;
  margin: 5em 0 0;
}
h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #008BB8;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  color: #008BB8;
}
h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  color: #008BB8;
}

.landing_page_container {
  & span {
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
  }
}

#information-icon, #verifyIcon, #EditIcon {
  cursor: pointer;
  width: inherit;
}

span.ag-header-group-text {
  font-size: 3em;
  font-weight: 300;
  color: $vwt_color_blue;
}

// Remove outline on the close icon when modal is clicked
#expenseModalClose {
  outline: none;
}

// Style modal header to VWT colors
.modal-header {
  background-color: $vwt_color_blue;
  color: white;
  border-color: black;
  border-width: thick;
}
  /////////////////////////
 // OVERRIDES: AG- GRID //
////////////////////////

.ag-theme-material {
	.ag-ltr {
		.ag-has-focus {
			.ag-cell-focus {
        // Blind the blue selected border
				&:not(.ag-cell-range-selected) {
					border: 0;

				}
			}
		}
	}
  // Override AG-GRID Header font-family
  .ag-header {
    font-family: $vwt_font_family;
    text-transform: uppercase;
    font-weight: 400;
  }
  // Override AG-GRID Selected Row Background
	.ag-row-selected {
		background-color: $vwt_mobile_background_color_blue;
    opacity: .8;
	}
}

