@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

@import "~bootstrap/dist/css/bootstrap.css";

$fa-font-path: "/assets/fonts/font-awesome";
@import "/assets/fontawesome/scss/fontawesome.scss";
@import "/assets/fontawesome/scss/solid.scss";
@import "/assets/fontawesome/scss/brands.scss";


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding-top: 70px;
}
h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #008BB8;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  color: #008BB8;
}
h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  color: #008BB8;
}

.landing_page_container {
  & span {
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
  }
}
