@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import "~bootstrap/dist/css/bootstrap.css";
@import "/assets/scss/mixins";
@import "/assets/scss/constants";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

$vwt_font_family: 'Poppins', sans-serif;

$fa-font-path: "~src/assets/fonts/font-awesome";
@import "~src/assets/fontawesome/scss/fontawesome.scss";
@import "~src/assets/fontawesome/scss/regular.scss";
@import "~src/assets/fontawesome/scss/solid.scss";
@import "~src/assets/fontawesome/scss/brands.scss";

@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


body {
  font-family: $vwt_font_family !important;
  margin: 70px 0 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #008BB8;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  color: #008BB8;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  color: #008BB8;
  text-transform: uppercase;
}
h5 {
  font-size: 15px;
  font-weight: 700;
  color: #008BB8;
  text-transform: uppercase;
}
h6 {
  font-size: 15px;
  font-weight: 700;
  color: #008BB8;
  text-transform: uppercase;
}

.landing_page_container {
  & span {
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
  }
}

#information-icon, #verifyIcon, #EditIcon {
  cursor: pointer;
  width: inherit;
}

span.ag-header-group-text {
  font-size: 3em;
  font-weight: 300;
  color: $vwt_color_blue;
}


// BOOTSTRAP OVERRIDES
.btn-group-vertical {
  width: 100%;
}

.btn {
  &.btn-primary {
    @include button-variant($vwt_color_blue, $vwt_color_blue, $vwt_color_blue_hr, $vwt_color_blue_hr, $vwt_color_blue_hr, $vwt_color_blue_hr);
    &:focus { background-color: $vwt_color_blue_hr; }
  }
  &.btn-secondary {
    @include button-variant($gray-dark, $gray-dark, $gray-dark-hover, $gray-dark-hover, $gray-dark-hover, $gray-dark-hover);
    &:focus { background-color: $gray-dark-hover; }
  }
  &.btn-success {
    @include button-variant($green, $green, $green-hover, $green-hover, $green-hover, $green-hover);
    &:focus { background-color: $green-hover; }
  }
  &.btn-danger {
    @include button-variant($red, $red, $red-hover, $red-hover, $red-hover, $red-hover);
    &:focus { background-color: $red-hover; }
  }
  &.btn-warning {
    @include button-variant($orange, $orange, $orange-hover, $orange-hover, $orange-hover, $orange-hover);
    &:focus { background-color: $orange-hover; }
  }
  &.btn-light {
    @include button-variant($gray, $gray, $gray-hover, $gray-hover, $gray-hover, $gray-hover);
    &:focus { background-color: $gray-hover; }
  }

  &:disabled {
    background-color: $form-disabled !important;
    border-color: $form-disabled-border !important;
    color: $form-text !important;

    &:hover{
      cursor: default !important;
    }
  }
}

.badge {
  padding: 4px 6px;
}
.badge-primary {
  background-color: $vwt_color_blue;
}
.badge-secondary {
  background-color: $gray-dark;
}
.badge-success {
  background-color: $green;
}
.badge-danger {
  background-color: $red;
}
.badge-warning {
  background-color: $orange;
}
.badge-light {
  background-color: $gray;
}
// END BOOTSTRAP OVERRIDES
