@import "~src/assets/scss/mixins";
@import "~src/assets/scss/constants";

input {
  border-radius: 4px;
  outline: none;
  border: 1px solid #dce5eb;
}

#bookinghistory {
  border-bottom: 1px solid $vwt_color_blue_hr;
}

.alert {
  padding: 2px;
  height: auto;
}

#historydiv {
  background-color: #fcfbfb;
}

.fom {
  margin-bottom: 10px;
}

.bookfile-creation-top {
  border-bottom: 1px solid $vwt_color_blue_hr;
  margin-bottom: 10px;

  button {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.input-group .form-control {
  float: none;
}

.input-group-addon {
  line-height: 32.5px;
  text-align: center;
  background-color: #f6f6f6;
  font-weight: bold;
  color: #858585;
  border: 1px solid #dce5eb;
  outline: none;
  width: 45px;
  cursor: pointer;

  &:hover {
    border: 1px solid $vwt_color_blue_hr;
    opacity: .5;
  }
}

#linestep {
  border-left: 1px solid #80808052;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(2, 138, 184, 0.4) 48%,
      rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  transform: translate(50%, 0);
  @include lg-phone-only {
    display: none;
  }
}
