<div class="container-fluid">
  <div class="row">
    <div class="col-9" style="background-color: #fcfbfb;">
      <div class="bookfile-creation-top btn-toolbar">
        <button type="button" id="createBookingFile" (click)="createBookingFile()" class="btn btn-primary">Nieuw Grootboek</button>
        <div class="alert alert-success" role="alert" *ngIf="addBooking.success === true">
          <i class="fas fa-check-circle"></i> Grootboek is aangemaakt
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="addBooking.wrong === true">
          <i class="fa fa-exclamation-circle"></i> Er zijn geen openstaande declaraties. Bekijk de eerdere grootboeken
        </div>
      </div>
      <ag-grid-angular
        style="width: 100%; height: 500px;"
        class="ag-theme-balham"
        [rowData]="rowData | async"
        [columnDefs]="columnDefs">
      </ag-grid-angular>
    </div>
    <div class="col col-1" id="linestep"></div>
    <div class="col-2" style="background-color: #fcfbfb;">
      <div class="input-group" id="bookinghistory">
        <input id="dateinput"
               name="date_search"
               class="form-control fom"
               (change)="searchHistory()"
               [(ngModel)]="formTransDate"
               type="date">
        <span class="input-group-addon fa fa-times fom" (click)="formTransDate = ''; searchHistory()"></span>
      </div>
      <ul class="list-group" id="historylist">
        <li class="list-group-item"><i class="fa fa-file-excel"></i> <a>2019-07-18</a> - <a>12:12:12</a></li>
        <li class="list-group-item"><i class="fa fa-file-excel"></i> <a>2019-07-18</a> - <a>12:12:12</a></li>
        <li class="list-group-item"><i class="fa fa-file-excel"></i> <a>2019-07-18</a> - <a>12:12:12</a></li>
        <li class="list-group-item"><i class="fa fa-file-excel"></i> <a>2019-07-17</a> - <a>12:12:12</a></li>
        <li class="list-group-item"><i class="fa fa-file-excel"></i> <a>2019-07-16</a> - <a>12:12:12</a></li>
        <li class="list-group-item"><i class="fa fa-file-excel"></i> <a>2019-07-15</a> - <a>12:12:12</a></li>
      </ul>
    </div>
  </div>
</div>
