<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="bookfile-creation-top btn-toolbar">
        <button type="button" id="createBookingFile" (click)="createBookingFile()" class="btn btn-primary">Nieuw
          Booking File
        </button>
        <div class="alert alert-success" role="alert" *ngIf="addBooking.success === true">
          <i class="fas fa-check-circle"></i> Booking File is aangemaakt.
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="addBooking.wrong === true">
          <i class="fa fa-exclamation-circle"></i> Er zijn geen openstaande declaraties. Bekijk de eerdere Booking Files.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="addBooking.error === true">
          <i class="fa fa-exclamation-circle"></i> Er is iets fout gegaan. Probeer het later opnieuw.
        </div>
      </div>

      <ag-grid-angular
        style="width: 100%; height: 750px; overflow:hidden;"
        id="expensestable"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [showToolPanel]="true"
        [rowSelection]="rowSelection"
        (selectionChanged)="onSelectionChanged($event, expenseContent)"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="col-sm-1" id="linestep">
    </div>
    <div class="col-sm-2">
      <ag-grid-angular
        style="width: 100%; height: 750px; overflow:hidden;"
        (cellClicked)="historyHit($event)"
        id="historytable"
        class="ag-theme-material"
        [rowData]="historyRowData | async"
        [columnDefs]="historyColumnDefs"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
      <ng-template #expenseContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Expense Bewerken</h4>
          <button id="expenseModalClose" type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <code>{{ expenseData.employee_full_name }}</code>
          <form #expenseUpdateForm="ngForm" (ngSubmit)="claimUpdateForm(expenseUpdateForm)" name="expenseUpdateForm">
            <div class="form-group">
              <!-- Form: Costs -->
              <label for="expenseAmount">Kosten</label>
              <div class="input-group">
                <input id="expenseAmount" class="form-control" placeholder="'EUR ' + {{ expenseData.amount}}" name="amount">
              </div>
              <!-- Form: Status -->
              <label for="expenseStatus">Status</label>
              <div class="input-group">
                <input id="expenseStatus" class="form-control" disabled placeholder="{{ expenseData.status_text  }}" name="status_text">
              </div>
             <!-- Form: Cost Type -->
              <label for="expenseCostType">Kosten Soort</label>
              <div class="input-group">
                <input id="expenseCostType" class="form-control" placeholder="{{ expenseData.cost_type  }}" name="cost_type">
              </div>
              <!-- Form: Cost Type -->
              <label for="expenseDateOfTransaction">Verwervingdatum</label>
              <div class="input-group">
                <input id="expenseDateOfTransaction" class="form-control" placeholder="{{ expenseData.date_of_transaction  }}" name="date_of_transaction">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Afwijzen</button>
          <button type="button" class="btn btn-success">Goedkeuren</button>
          <button type="button" class="btn btn-warning" (click)="getNextExpense()">Volgende</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
