<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="bookfile-creation-top btn-toolbar">
        <button type="button" id="createBookingFile" (click)="createBookingFile()" class="btn btn-primary">Nieuw
          Booking File
        </button>
        <div class="alert alert-success" role="alert" *ngIf="addBooking.success === true">
          <i class="fas fa-check-circle"></i> Booking File is aangemaakt.
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="addBooking.wrong === true">
          <i class="fa fa-exclamation-circle"></i> Er zijn geen openstaande declaraties. Bekijk de eerdere Booking Files.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="addBooking.error === true">
          <i class="fa fa-exclamation-circle"></i> Er is iets fout gegaan. Probeer het later opnieuw.
        </div>
      </div>

      <!-- START AG-GRID EXPENSES -->
      <ag-grid-angular
        style="width: 100%; height: 750px; overflow:hidden;"
        id="expensestable"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (selectionChanged)="onSelectionChanged($event, expenseContent)"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
      <!-- END AG-GRID EXPENSES -->
    </div>
    <div class="col-sm-1" id="linestep">
    </div>
    <div class="col-sm-2">

      <!-- START AG-GRID HISTORY -->
      <ag-grid-angular
        style="width: 100%; height: 750px; overflow:hidden;"
        (cellClicked)="historyHit($event)"
        id="historytable"
        class="ag-theme-material"
        [rowData]="historyRowData | async"
        [columnDefs]="historyColumnDefs"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
      <!-- END AG-GRID HISTORY -->


      <!-- FORM TEMPLATE -->
      <ng-template #expenseContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Expense Bewerken</h4>
          <button id="expenseModalClose" type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <code>{{ expenseData.employee_full_name }}</code>
          <div id="updateErrors" class="alert alert-danger" role="alert" *ngIf="showErrors">
            {{ formErrors }} {{ formResponse.detail }}
          </div>
          <form
            #expenseUpdateForm="ngForm"
            (ngSubmit)="claimUpdateForm(expenseUpdateForm, expenseData.info)"
            name="expenseUpdateForm">
            <div class="form-group">
              <!-- Form: Costs -->
              <label for="expenseAmount">Kosten</label>
              <div class="input-group">
                <input id="expenseAmount"
                       type="number"
                       class="form-control"
                       placeholder="{{ expenseData.amount | currency: 'EUR' }}"
                       name="amount" ngModel>
              </div>
              <!-- Form: Status -->
              <label for="expenseStatus">Status</label>
              <div class="input-group">
                <input id="expenseStatus"
                       class="form-control"
                       placeholder="edited_by_creditor"
                       name="status" ngModel>
              </div>
              <!-- Form: Cost Type -->
              <label for="expenseCostType">Soort</label>
              <div class="input-group">
                <select id="expenseCostType"
                        class="form-control"
                        name="cost_type"
                        ngModel>
                  <option value="" disabled selected><span class="badge badge-secondary">Huidige:</span> {{ expenseData.cost_type.split(':')[0] }}</option>
                  <option *ngFor="let t of typeOptions" value="{{t.ctype}}:{{t.cid}}">{{t.ctype}}</option>
                </select>
              </div>
              <!-- Form: Date of Transaction -->
              <label for="expenseDateOfTransaction">Verwervingdatum</label>
              <div class="input-group">
                <input id="expenseDateOfTransaction"
                       class="form-control"
                       placeholder="{{ expenseData.date_of_transaction  }}"
                       name="date_of_transaction" ngModel>
              </div>
              <input type="submit" id="submit-update-form" hidden/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="float-left">Creditor</div>

          <div class="btn btn-warning">
            <label for="submit-update-form" disabled="formSubmitted" [ngClass] = '{disabledbtn: formSubmitted}'>
              Opslaan <i *ngIf="formSubmitted === true" class="spinner-border text-light"></i>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <div class="float-left">Manager</div>

          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Afwijzen</button>
          <button type="button" class="btn btn-success">Goedkeuren</button>
          <button type="button" class="btn btn-warning" (click)="getNextExpense()">Volgende</button>
        </div>
      </ng-template>
      <!--   END FORM TEMPLATE-->
    </div>
  </div>
</div>
